[graph]
targets = [
    { triple = "x86_64-unknown-linux-gnu" },
    { triple = "x86_64-unknown-linux-musl" },
    { triple = "x86_64-apple-darwin" },
    { triple = "x86_64-pc-windows-msvc" },
]

[advisories]
ignore = []

[licenses]
confidence-threshold = 0.93
private = { ignore = true }
allow = [ 
    "Apache-2.0",
    "MIT",
    "Unicode-3.0",
    "Unicode-DFS-2016",
]
exceptions = []

[bans]
# This crate will have no dependencies in a release native build. 
# It only needs dependencies for testing and wasm support.
# Set this to warn only to lessen noise.
multiple-versions = "warn"
highlight = "all"
skip = []

[sources]
unknown-registry = "deny"
unknown-git = "deny"
allow-registry = [ "https://github.com/rust-lang/crates.io-index" ]
allow-git = []
